
{% block body %}
<div class="container">
<h1 class="h1">Change Password</h1>
<br>
<form action="/changepassword" method="POST">
<input type="text" placeholder="Email" name="email" value="{{email_text}}" readonly="readonly"><br>
<input type="password" placeholder="New Password" name="new_password" value="{{
request.form.new_password }}"><br>
<input class="btn btn-default" type="submit" value="Submit">
</form>
<div>
{% if error %}
<p class="error"><strong>*</strong> {{ error }}
{% endif %}
</div>
</div>
{% endblock %}