{% block body %}
<form action="/logout">
    <input type="submit" id="btnLogout" name="btnLogout" value="Logout">
</form>
<form action="/chngpass">
    <input type="submit" id="btnchangepass" name="btnchangepass" value="Change Password">
</form>
<br>
<p>It is the year of new consoles which means the console war between Xbox and Playstation are the
main topic of discussion. They have been the most prevalent consoles for over a decade now. Each
console will have its loyal customers, but what side will the rest of the median consumers go to? In this
website I will display key facts about each console and why they matter to you, The reader. This is so you
can have an unbiased opinion between the two, and chose what console is best for you. Both consoles
have their upsides and downsides when it comes to game exclusives, but that is entirely opinionated. The
console hardware however, is now set in stone and can clearly be compared without any opinions and
cold hard facts.</p>
<p>Since it is a new generation of consoles, much has changed. From updated hardware, game exclusives,
and the economy. Consoles now have more power than ever before, and console exclusives have
unfortunately became even more prevalent than before. Sony(Playstation) have had more exclusives than
any other traditional console in recent memory. Xbox has certainly lagged behind Playstation in this
manner, but it looks like Microsoft is ready to change. Recently Microsoft has started purchasing game
development studios such as Bethesda(Zenimax), Obsidian, and many more. This is a very big deal as
these studios will likely work speci􀅜cally for Microsoft. These popular studios before were once neutral. At
the time of writing it appears that future Fallout, and Elder Scrolls games will be Xbox exclusives. This is a
massive deal as these two franchises are major sellers and will likely lead people into buying the new Xbox
rather than the Playstation. Overall it looks like Xbox is ready to be an even tighter competitor to
Playstation than before. </p>
<table style="width:100%"><table border="1">
<tr>
<th>Specs</th>
<th>Xbox Series X</th>
<th>Playstation 5</th>
</tr>
<tr>
<td>GPU</td>
<td>12 TFLOPS</td>
<td>10.28 TFLOPS</td>
</tr>
<tr>
<td>Memory</td>
<td>16 GB</td>
<td>16 GB</td>
</tr>
<tr>
<td>Storage</td>
<td>1 TB</td>
<td>825GB</td>
</tr>
</table></table>

{% endblock %}